html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

div .cpm-node {
  border: 1px solid #bbb;
  padding: 5px;
  border-radius: 5px;
  background: #ffffff;
  width: 150px;
  transition: all 0.2s ease-in-out;
}

div .cpm-node:hover {
  border: 1px solid #bbb;
  box-shadow: 2px 4px 4px lightblue;
  transform: scale(1.1);
}

div .cpm-node-active {
  border: 2px solid #1890ff;
  padding: 5px;
  border-radius: 5px;
  background: #ffffff;
  width: 150px;
  transition: all 0.2s ease-in-out;
}

div .cpm-node-active:hover {
  border: 2px solid #1890ff;
  box-shadow: 2px 4px 4px lightblue;
  transform: scale(1.1);
}

div .milestone-node {
  border: 1px solid #bbb;
  padding: 5px;
  border-radius: 5px;
  background: #f9f9f9;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

div .milestone-node:hover {
  border: 1px solid #bbb;
  box-shadow: 2px 4px 4px lightblue;
  transform: scale(1.05);
}

div .milestone-node-active {
  border: 2px solid #1890ff;
  padding: 5px;
  border-radius: 5px;
  background: #ffffff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

div .milestone-node-active:hover {
  border: 2px solid #1890ff;
  box-shadow: 2px 4px 4px lightblue;
  transform: scale(1.05);
}
